.Container{
    display: flex;
    flex-direction: column;

}
.top{
    background: navajowhite;
    width: 100%;
    height: 285px;
}
.top img{
    width: 100%;
    height: 100%;
}
.bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
     
}